<html>
<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
       <title>Chat em Tempo Real</title>
   </head>
   <body>
        <header>
            <h1 id="titulo">Chat em Tempo Real</h1>
        </header>

        <div class="container">
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button class="btn">Enviar</button>
            </form>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            // Pede ao usuário seu username 
            var username = prompt("Digite seu nome para entrar no chat:");
            socket.emit('register', username);

            socket.on('message', function(msg) {
                var ul = document.getElementById('messages');
                var li = document.createElement('li');
                li.appendChild(document.createTextNode(msg));
                li.classList.add('received');
                ul.appendChild(li);
                ul.scrollTop = ul.scrollHeight;
            });

            // Enviar mensagem
            document.getElementById('form').onsubmit = function() {
                var input = document.getElementById('input');
                var msg = input.value;
                socket.emit('message', msg);

                // Adiciona a mensagem enviada à lista
                var ul = document.getElementById('messages');
                var li = document.createElement('li');
                li.appendChild(document.createTextNode(msg));
                li.classList.add('sent'); // Adiciona classe para mensagens enviadas
                ul.appendChild(li);
                ul.scrollTop = ul.scrollHeight; // Rolagem automática para a última mensagem

                input.value = '';
                return false;
            };
       </script>
   </body>
</html>
